@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Axiforma_regular";
  src: url("./fonts/Axiforma Regular.ttf");
}
@font-face {
  font-family: "Axiforma_thin";
  src: url("./fonts/Axiforma Thin.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Axiforma_thin;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vue{
  color: #4FC08D;
}

.eth{
  color: #626890;
}

.js{
  color: #EFD81D;
}

.react{
  color: #61DAFB;
}

.solidity{
  color: #656565;
}