.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  background-image: linear-gradient(132deg, 
  #f3fdff,
  rgba(213, 209, 255, 0.4) 24%,
  rgba(255, 239, 231, 0.7) 52%,
  rgba(255, 248, 238, 0.6) 82%,
  #f0ebff);
  padding: 10%;
}
@media (max-width: 1024px) { 
  .title{
    padding-top: 25%;
    padding-bottom: 25%;
  }
}
